@code {
    [Parameter]
    public bool isVisible { get; set; }
}

@if (isVisible)
{
    <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-25">
        <div class="flex w-[600px] flex-col">
            <button class="place-self-start text-xl text-white">X</button>
            <div class="bg-white p-2">
                
            </div>
        </div>
    </div>
}
