@page "/"

<div class="flex h-screen w-full items-center justify-center bg-gray-400">
    <div class="w-[400px] bg-gray-100 p-6">
        <form>
            <h1 class="text-center text-xl font-semibold text-blue-950">Admin access</h1>
            <hr class="my-4" />
            <div class="mb-6">
                <label for="email" class="mb-2 block text-sm font-medium text-gray-700">TechID</label>
                <input type="email" id="email" class="block w-full border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-800" required />
            </div>
            <div class="mb-2">
                <label for="password" class="mb-2 block text-sm font-medium text-gray-700">Password</label>
                <input type="password" id="password" class="block w-full border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-800" required />
            </div>
            <a href="Add" class="mt-4 w-full bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-600 active:bg-blue-800">Access</a>
        </form>
    </div>
</div>