<header class="bg-gray-800 text-white">
    <nav class="flex items-center justify-between w-[95%] mx-auto">
        <div>
            <NavLink href="products" class="font-bold text-[20px] pt-4 pb-4 cursor-pointer select-none">TechShop</NavLink>
        </div>
        <div class="flex gap-4">
            <div class="nav-links static min-h-fit bg-gray-800 left-0 top-[62px] w-auto items-center p-5 flex">
                <ul class="flex flex-row items-center justify-center gap-8">
                    <li>
                        <NavLink class="hover:underline" href="/">PRODUCTS</NavLink>
                    </li>
                    <li>
                        <NavLink class="hover:underline" href="Cart">CART (0)</NavLink>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-4">
                <button class="bg-[#2e58d7] text-white px-5 py-2 hover:bg-[#416beb]">Sign in</button>
            </div>
        </div>
    </nav>
</header>