<div>
    <div class="flex items-center gap-8">
        <img src="https://flowbite.com/docs/images/products/apple-watch.png" class="size-[128px] object-scale-down">
        <div>
            <p class="mb-2 w-[250px] text-gray-500">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</p>
            <a class="text-blue-700">View store page</a>
        </div>
        <div>
            <p class="mb-2 text-center text-gray-500">Quantity</p>
            <div>
                <button class="bg-gray-800 px-[12px] font-bold text-white text-[23px] hover:bg-gray-700">-</button>
                <span class="mx-4 text-lg font-semibold">1</span>
                <button class="bg-blue-700 px-2 font-bold text-white text-[23px] hover:bg-blue-600">+</button>
            </div>
        </div>
        <span class="mt-8 text-xl font-semibold text-blue-950">$599.99</span>
        <button></button>
    </div>
    <hr class="my-6 h-[2px] bg-gray-200">
</div>