@page "/Cart"

<div class="flex w-[1250px] flex-col items-center bg-white">
    <h1 class="mt-8 text-xl font-semibold text-blue-950">My cart</h1>
    <div class="h-full">
        <ProductCart />
        <div class="flex items-center justify-between">
            <h2 class="text-xl font-semibold text-gray-800">Total: <span class="text-blue-800">$1854.32</span></h2>
            <button href="#" class="bg-blue-700 px-3 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-600 focus:outline-offset-2 focus:outline-black active:bg-blue-800">Finish order</button>
        </div>
    </div>

</div>