@page "/Cart"

<div class="flex flex-col items-center w-[1250px] bg-white">
    <h1 class="mt-8 text-xl text-blue-950 font-semibold">My cart</h1>
    <div class="h-full">
        <div>
            <div class="flex items-center gap-8">
                <img src="https://flowbite.com/docs/images/products/apple-watch.png" class="size-[128px] object-scale-down">
                <div>
                    <p class="text-gray-500 w-[250px] mb-2">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</p>
                    <a class="text-blue-700">View store page</a>
                </div>
                <div>
                    <p class="text-gray-500 text-center mb-2">Quantidade</p>
                    <div>
                        <button class="bg-gray-800 px-[14px] pb-1 text-white font-bold text-[26px]">-</button>
                        <span class="text-xl font-semibold mx-4">1</span>
                        <button class="bg-blue-700 px-3 pb-1 text-white font-bold text-[26px]">+</button>
                    </div>
                </div>
                <span class="text-blue-950 font-semibold text-xl mt-8">$599.99</span>
                <button></button>
            </div>
            <hr class="bg-gray-200 h-[2px] my-6">
        </div>
    </div>
</div>