@page "/Product"

<div class="w-[1250px] bg-gray-100">
    <div class="mt-12 flex h-fit w-full justify-center">
        <img class="mr-6 size-[500px] border border-gray-200 bg-white object-scale-down p-6" src="https://flowbite.com/docs/images/products/apple-watch.png" />
        <div class="w-[500px]">
            <h1 class="text-2xl font-bold">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h1>
            <div class="my-2">
                <Rating Average="4" Count="122" />
            </div>
            <div class="my-6">
                <span class="text-3xl font-semibold text-blue-950">USD $599.99</span>
            </div>
            <div class="w-fit">
                <p class="mb-2 text-center text-gray-500">Quantity</p>
                <div>
                    <button class="bg-gray-800 px-[14px] pb-1 font-bold text-white text-[26px]">-</button>
                    <span class="mx-4 text-xl font-semibold">1</span>
                    <button class="bg-blue-700 px-3 pb-1 font-bold text-white text-[26px]">+</button>
                </div>
                <button href="#" class="mt-6 w-full bg-blue-700 py-3 text-center text-sm font-medium text-white hover:bg-blue-600 focus:outline-offset-2 focus:outline-black">Add to cart</button>
            </div>
        </div>
    </div>
    <hr class="my-6" />
    <div>
        <h2 class="text-center text-2xl font-semibold text-blue-950">Reviews (122)</h2>
    </div>
</div>

@code {
    [Parameter]
    public int ProductID { get; set; }
}