@inject NavigationManager navigationManager

<div class="flex w-64 flex-col bg-gray-800">
    <div class="py-3">
        <h1 class="text-center text-2xl font-semibold text-white">Admin Panel</h1>
    </div>
    <hr class="border-gray-300"/>
    <ul class="flex-1 mt-3 text-lg text-white">
        <li class="w-full">
            <a href="Add" class="mb-2 block w-full cursor-pointer px-3 py-3 @(Selected == 0 ? "bg-gray-300 text-gray-800" : "hover:bg-gray-700")">
                Add Product
            </a>
        </li>
        <li class="w-full">
            <a href="Manage" class="mb-2 block w-full cursor-pointer px-3 py-3 @(Selected == 1 ? "bg-gray-300 text-gray-800" : "hover:bg-gray-700")">
                Manage Products
            </a>
        </li>
        <li class="w-full">
            <a href="Orders" class="mb-2 block w-full cursor-pointer px-3 py-3 @(Selected == 2 ? "bg-gray-300 text-gray-800" : "hover:bg-gray-700")">
                Views Orders
            </a>
        </li>
        <li class="w-full">
            <a href="Clients" class="mb-2 block w-full cursor-pointer px-3 py-3 @(Selected == 3 ? "bg-gray-300 text-gray-800" : "hover:bg-gray-700")">
                List Clients
            </a>
        </li>
    </ul>
    <hr class="border-gray-300"/>
    <div @onclick="ExitPanel" class="cursor-pointer py-3 font-semibold text-red-500 hover:bg-gray-700">
        <button class="px-3">Exit Panel</button>
    </div>
</div>

@code {
    [Parameter]
    public int Selected { get; set; }

    private void ExitPanel()
    {
        navigationManager.NavigateTo("/Logout");
    }
}