<div class="flex w-64 flex-col bg-gray-800">
    <div class="py-3">
        <h1 class="text-center text-2xl font-semibold text-white">Admin Panel</h1>
    </div>
    <hr class="border-gray-300"/>
    <ul class="flex-1 mt-3 text-lg text-white">
        <li class="w-full">
            <NavLink href="Add" class="mb-2 block w-full cursor-pointer px-3 py-3 hover:bg-gray-700">
                Add Product
            </NavLink>
        </li>
        <li class="w-full">
            <NavLink href="Manage" class="mb-2 block w-full cursor-pointer px-3 py-3 hover:bg-gray-700">
                Manage Products
            </NavLink>
        </li>
        <li class="w-full">
            <NavLink href="Orders" class="mb-2 block w-full cursor-pointer px-3 py-3 hover:bg-gray-700">
                Views Orders
            </NavLink>
        </li>
        <li class="w-full">
            <NavLink href="Clients" class="mb-2 block w-full cursor-pointer px-3 py-3 hover:bg-gray-700">
                List Clients
            </NavLink>
        </li>
    </ul>
        <hr class="border-gray-300"/>
    <div class="cursor-pointer py-3 font-semibold text-red-500 hover:bg-gray-700">
        <NavLink class="px-3">Exit Panel</NavLink>
    </div>
</div>
